[submodule "Hazelnut_Latte/vendor/spdlog"]
	path = Hazelnut_Latte/vendor/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "Hazelnut_Latte/vendor/GLFW"]
	path = Hazelnut_Latte/vendor/GLFW
	url = https://github.com/TheCherno/glfw
[submodule "Hazelnut_Latte/vendor/imgui"]
	path = Hazelnut_Latte/vendor/imgui
	url = https://github.com/TheCherno/imgui
